.sass-cache/*
.gems/*
coverage/*
bower_components/*
public/*
build
Gemfile.lock

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
*.idea

pids
logs
results

.DS_Store

node_modules
npm-debug.log
