


/* debug
 */
html {
    background-color: greenyellow;
}
body {
    background-color: yellow;
}
.product-grid {
    background-color: #b3d4fc;
}
.menu {
    background-color: #feffdd;
    opacity: 0.9;
}

