/* ==========================================================================
   App styles (scss)
   ========================================================================== */

// Set legacy support
//
// If you need support for IE6 or IE7, you should install the Box Sizing polyfill.
// In your project's folder from the command line, type the following:
// compass install singularitygs/box-sizing
//////////////////////////////
$legacy-support-for-ie6:     false;
$legacy-support-for-ie7:     false;
$legacy-support-for-mozilla: false;


@import "h5bp-4.3.0";
@import "fixes";
@import "default";
//@import "debug";
@import "widgets";

.body {
  font-family:helvetica,arial,sans-serif;
  font-size:10px;
}


.chosen-product {
  clear: both;
}

.product-view {
  float: left;
}

#filter-options-id {
  clear: both;
  margin-left: 20px;
}

#price-option-id {
  background-color: #fefefe;
  padding: 10px;
  width: 250px;
}

#price-slider-id {
  width:77%;
  margin-top: 3px;
}


//@import "singularitygs";

//
//$break: 700px;
//$break2: 900px;
//$break3: 1200px;
//
//$grids: add-grid(2);
//$grids: add-grid(2 8 2 1 at $break);
//$grids: add-grid(12 at $break2);
//$grids: add-grid(1 3 5 7 9 at $break3);
//$gutters: add-gutter(1/3);
//




/* menu styling
 */
.menu {
    width: 100%;
}


/* infinite scroll, scrollbar is rendered on the menu
 */
.menu {
    position: relative;
    z-index: 0;
    top: 0;
    margin-top: 0;
}

.menu li {
  display: block;
  float: left;
  padding-right: 100px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 1.5em;
}


html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    z-index: 1;
}
.product-grid {
    clear:both;
    overflow: auto;
    min-height: 500px;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: -2.5%; /* should match li left margin */
    width: 100%;
}


/* item-rig styling
 */

.product-card {
    max-width: 180px;
    max-width: 180px;
    border: 1px solid #feffdd;
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0em;
    padding-top: 0em;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
}

.product-thumb {
}

.product-info {
  font-size: 0.6em;
}


/* class for 2 columns */
.product-grid.columns-2 li {
  width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
.product-grid.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
.product-grid.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
  .product-card {
    display: block;
    margin: 0 0 20px;
  }
  .product-grid {
    margin-left: 0;
  }
}
