.product-grid {
    clear:both;
    overflow: auto;
    min-height: 500px;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: -2.5%; /* should match li left margin */
    width: 100%;
}

/* item-rig styling
 */


.product-in-discover {
    @extend .product-card;
}





/* class for 2 columns */
.product-grid.columns-2 li {
  width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
.product-grid.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
.product-grid.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
  .product-card {
    display: block;
    margin: 0 0 20px;
  }
  .product-grid {
    margin-left: 0;
  }
}
