.product-grid {
    clear:both;
    overflow: auto;
    min-height: 500px;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: -2.5%; /* should match li left margin */
    width: 100%;
}


/* item-rig styling
 */

.product-card {
    position: relative;
    max-width: 180px;
    max-width: 180px;
    border: 1px solid #feffdd;
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0em;
    padding-top: 0em;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
}

.product-overlay-button {
  position: absolute;
  width: 35px;
  padding: 5px 5px;
  font-size: 15px;

  z-index: 300;

  background: none repeat scroll 0% 0%;
  text-align: center;
  text-transform: uppercase;

  border: medium none;
  outline: medium none;
  margin: 0px;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
}

.product-buy {
  bottom: 40px;
  left: 8px;
  background-color: cornflowerblue;
}

.product-save {
  bottom: 40px;
  right: 8px;
  background-color: lightsalmon;
}


.product-overlay {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,0.6)
}

.product-thumb {
}

.product-info {
  font-size: 0.6em;
}


/* class for 2 columns */
.product-grid.columns-2 li {
  width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
.product-grid.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
.product-grid.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
  .product-card {
    display: block;
    margin: 0 0 20px;
  }
  .product-grid {
    margin-left: 0;
  }
}
