
.profile {
}

.profile-about-me {
  width: 200px;
  height: 150px;
  vertical-align: top;
}

.profile-picture {
  height: 150px;
}

.profile-avatar {
  height: 32px;
}


.product-in-favorites {
    @extend .product-card;
}

