.collections-menu {
    float:left;
    list-style-type: none;
    cursor: pointer;
}

.collection-grid {
    overflow: auto;
    min-height: 500px;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    margin-left: -2.5%; /* should match li left margin */
    width: 100%;
}

.collection-card {
    border: 1px solid #cac8ca;
    display: inline-block;
    padding: 0;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
}

.collection-menu {
  list-style-type: none;
  float: right;
  border: 0;
  padding: 0;
  font-size: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.collection-title {
  font-size: 1.5em;
  float: left;
  margin-left: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.collection-menu-button {
  display: inline-block;
  margin-right: 12px;
  margin-top: 2px;
}


.collection-items {
    min-width: 284px;
    max-width: 284px;
    min-height: 255px;
    max-height: 255px;
    list-style-type: none;
    display: inline-block;
    clear:both;
    margin: 5px;
    padding: 0;
}

.collection-item {
    display: inline-block;
    text-align: center;
    margin: 4px;
    padding: 0px;
}

.collection-item img {
    min-width: 60px;
    max-width: 60px;
    min-height: 77px;
    max-height: 77px;
}

.collection-grid.columns-2 li {
  width: 47.5%; /* this value + 2.5 should = 50% */
}
.collection-grid.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}
.collection-grid.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
  .collection-card {
    display: block;
    margin: 0 0 20px;
  }
  .collection-grid {
    margin-left: 0;
  }
}
